<div class="homeukkk">
  <div class="overlay span_12_of_12">

    <div class="header-container span_7_of_12">
      <h1>Dinner Winner</h1>

      <% if business_signed_in? %>

      <% else %>
        <div class="home-buttons span_3_of_12">
          <button class="business-signup-link home-buttons">
            <a href="/businesses/sign_up">Sign up</a>
          </button>
        <button class="business-login-link home-buttons">
          <a href="/businesses/sign_in">Login</a>
        </button>
      </div>
      <% end %>
    </div>
  </div>
  <header class="home-element span_12 business">
  </header>

  <section class="about span_12_of_12">
    <h2>How it works</h2>
    <div class="about-container span_7_of_12">
      <p>This is all going to be text for the businesses about how the app works and they are gonna love it sooo much omgomgomg! laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </section>
  <!-- Need to change to regular footer -->
  <%= render template: "/partials/_footer.html.erb" %>
</div>

<!-- <footer class="home-element">
  <div class="auto container">
    <ul class="social left">
      <li><i class="fa fa-twitter"></i></li>
      <li><i class="fa fa-pinterest-p"></i></li>
      <li><i class="fa fa-google-plus"></i></li>
    </ul>
  </div>
</footer> -->

<%= render template: '/devise/registrations/new.html.erb' %>

<div class="login-modal">
  <%= render partial: 'devise/sessions/login_form' %>
</div>
