<div class="home business">
  <div class="overlay span_12_of_12">

    <div class="header-container span_7_of_12">
      <h1><img class="dw-logo" src="<%=image_path('white.png')%>"/></h1>

      <% if business_signed_in? %>

      <% else %>
        <div class="home-buttons span_3_of_12">
          <button class="business-signup-link span_10_of_12">
            <a href="/businesses/sign_up">Sign up</a>
          </button>
        <button class="business-login-link span_10_of_12">
          <a href="/businesses/sign_in">Login</a>
        </button>
      </div>
      <% end %>
    </div>
  </div>
  <header class="home-element span_12 business">
  </header>

  <section class="about span_12_of_12">
    <h2>How it works</h2>
    <div class="about-container span_7_of_12">
      <p>We want to give restaurant owners a smart marketing tool that reaches the right audience at the right time. Dinner Winner users tell us when they're hungry, what neighborhood they want to dine in, and how many people are in their party.  If you're located in their desired neighborhood, you'll be given the opportunity to bid on their patronage with your own unique offers.  Proactively bring in business with Mass Deals that can be offered daily.</p>
    </div>
  </section>
  <!-- Need to change to regular footer -->

<%= render partial: "partials/business_footer.html.erb" %>

<div class="signup-modal">
  <%= render template: '/devise/registrations/new.html.erb' %>
</div>

<div class="login-modal">
  <%= render partial: 'devise/sessions/login_form' %>
</div>
