<footer class="span_12_of_12">
  <div class="auto">
    <ul class="social">
      <li><i class="fa fa-twitter fa-2x"></i></li>
      <li><i class="fa fa-pinterest-p fa-2x"></i></li>
      <li><i class="fa fa-google-plus fa-2x"></i></li>
    </ul>
  </div>
</footer>
