<header class="customer head span_12_of_12">
  <div class="logo">
    <a class="rooster" href="/"><img class="header-logo" src="<%=image_path('white.png')%>" alt="Dinner Winner"/></a>
  </div>
</header>
