<div class="home">
  <div class="overlay span_12_of_12">

    <div class="header-container span_7_of_12">
      <h1><img class="dw-logo" src="<%=image_path('white.png')%>"/></h1>

      <% if customer_signed_in? %>

      <% else %>
        <div class="home-buttons span_3_of_12">
          <button class="customer-signup-link span_10_of_12">
            <a href="/customers/sign_up ">Sign up</a>
          </button>
          <button class="customer-login-link span_10_of_12">
            <a href="/customers/sign_in">Login</a>
          </button>
        </div>
      <% end %>
    </div>
  </div>
  <header class="home-element span_12">
  </header>

  <section class="about span_12_of_12">
    <h2>What We Do</h2>
    <div class="about-container span_7_of_12">
      <p>If there is one thing we love about San Francisco, it's the amazing food and unique dining experiences. But with so many options, it's easy to stick to the same popular establishments.</p><br>
      <p>Let local restaurants know you're hungry and they will bid on your patronage by sending you enticing deals!</p>
    </div>
  </section>

  <%= render template: "/partials/_footer.html.erb" %>
</div>

<div class="signup-modal">
  <%= render template: '/devise/registrations/new.html.erb' %>
</div>

<div class="login-modal">
  <%= render partial: 'devise/sessions/login_form' %>
</div>



