<div class="home">
  <div class="overlay span_12_of_12">

    <div class="header-container span_7_of_12">
      <h1>Dinner Winner</h1>

      <% if customer_signed_in? %>

      <% else %>
        <div class="home-buttons span_3_of_12">
          <button class="customer-signup-link span_10_of_12">
            <a href="/customers/sign_up ">Sign up</a>
          </button>
          <button class="customer-login-link span_10_of_12">
            <a href="/customers/sign_in">Login</a>
          </button>

          <a href="<%= auth_authorize_link %>"><img src="https://developers.google.com/accounts/images/sign-in-with-google.png"></a>
        </div>
      <% end %>
    </div>
  </div>
  <header class="home-element span_12">
  </header>

  <section class="about span_12_of_12">
    <h2>How it works</h2>
    <div class="about-container span_7_of_12">
      <p>This is going to be about how tot use the app as a customer aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </section>

  <%= render template: "/partials/_footer.html.erb" %>
</div>

<div class="signup-modal">
  <%= render template: '/devise/registrations/new.html.erb' %>
</div>

<div class="login-modal">
  <%= render partial: 'devise/sessions/login_form' %>
</div>



