<header>
  <h1>Dinner Winner</h1>
  <p>Welcome <%= current_customer.first_name %>!</p>
  <a href="#">My Deals</a>
  <a href="#"><i class="fa fa-cog"></i></a>
</header>

<h3>Find a Deal</h3>
<div class="request-bar">
  Neighborhood: <%= select_tag(:neighborhoods, options_for_select(@uniq_neighborhoods)) %>
  Party Size: <%= select_tag(:party_size, options_for_select((1..10))) %>
  <%= submit_tag(value = "Request a Deal!") %>
</div>

<form action="/customers/sign_out" method="post"/>
  <input type="hidden" name="_method" value="delete">
  <input name="authenticity_token" type="hidden" value="token_value">
  <input type="submit" value="Logout">
</form>
