<h1>Welcome to Dinner Winner</h1>

<p>We appreciate your business and look forward to offering you some great deals!</p>

<p>To login to your account in the future. Please go to 
	<a href="http://dinnerwinner.io/customers/sign_in">Dinner Winner</a>
	and click the login link on the homepage. 
</p>

<p>In the future if you have questions please let us know by emailing <a href="mailto: info@dinnerwinner.io">info@dinnerwinner.io</a></p>

<h3>Thank You,</h3>