html{
  width: 100%;
}
input, button, textarea{
  border: none;
}
a{
  text-decoration: none;
}
.customer-signup-modal{
  display: none;
}

.home .header-container, .home .about-container, .home .auto{
  margin: auto;
}
.home-element{
  margin-bottom: 7em;
}
.home p, .home h2{
  line-height: 2em;
}
.home header{
  background: url('wine.jpg') no-repeat;
  background-size: cover;
  min-height: 500px;
  position: relative;
  color: white;
  text-align: center;
}
.home header h1{
  font-size: 3.5em;
}
.home .header-container{
  /*border: 2px solid red;*/
  position: relative;
  top: 30%;
}
.home .home-buttons{
  background: #FFD6A6;
  height: 3.3em;
  margin: 10px;
}
.home .about{
  background: red;
}
.home .feedback{
  background: yellow;
  padding: 4em;
}
.home .feedback div{
  margin: auto;
  font-size: 1.3em;
}
.feedback input, .feedback textarea{
  padding: 10px;
}
.feedback textarea{
  min-height: 7em;
}
.home footer{
  padding: 3em;
  background: lightgrey
}
.social{
  padding-left: 7em;
}
.social li{
  display: inline-block;
}
.social li i{
  background: blue;
  color: white;
  padding: 10px;
}
