/******************** MAIN COLORS AND FONTS  *****************/
$grey: #292B2E; /*   rgba (41, 43, 46 )*/
$blue_green: #2C998B;
$white: #E8E8E8;
$dark_blue: #125373;  /*   rgba (18, 83, 115 )*/
$dark_blue_rgba: rgba(18, 83, 115, 0.8 );
$red: #BF0D0D;
$light_green: #09B869;
$bright_green: #0D9E3B;
$yellow: #F2EB8D;


$oswald: 'Oswald', sans-serif;
$open_sans: 'Open Sans', sans-serif;
$open_sans_condensed: 'Open Sans Condensed', sans-serif;

/******************** MAIN STYLING FOR ALL PAGES *****************/

body{
  color: $dark_blue;
  background: $white;
}
.signup-modal, .login-modal{
  display: none;
}
button{
  border: none;
}
a{
  text-decoration: none;
  color: black;
}



/******************** MAIN STYLING FOR ALL PAGES *****************/

.make-an-offer-modal, .customer-signup-form, .customer-deal-modal, .edit-deal-modal, .create-modal, .edit-modal, .signup-modal, .login-modal {
  display: none;
 }
.container{
  max-width: 1240px;
}
.right{
  float:right;
}
.logo{
  margin: 0;
}


