.business-description{
  background: white;
}
.business-info{
  margin: auto;
  padding: 1em;
  position: relative;
}
.business-logo, .business-offers-counter{
  display: inline-block;
}
.business-offers-counter{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}




.offer-images{
  width: 200px;
}

.cancel-button{
  float: right;
}

.deals-subtitle {
  text-align:center;
  font-weight: 500;
  font-size: 45px;
}


.mass-deals-list .new-deal{
  width: 250px;
  height: 250px;
  background-color: #333;
}
.mass-deals-list .new-deal span{
  margin: 60px auto;
  display: block;
  text-align:center;
  font-size: 100px;
}
.mass-deals-list .new-deal span a{
  color: #FFFFFF;
  text-decoration: none;
}
.mass-deals-list .new-deal span a:hover{
  text-shadow: 2px 6px 3px #000000;
}
.mass-deals-list li img, .accepted-deals-list li img {
  width:250px;
  height: 250px;
}
.mass-deals-list li, .accepted-deals-list li {
  width:250px;
  display: inline-block;
  margin: 0 10px;
  vertical-align: top;
}

.make_an_offer_modal{
  display: none;
}
