@import 'app';
/*****************TOP*********************/
.business-container{
  font-family: $open_sans;
}
.business-description{
  background: white;
}
.business-info{
  margin: auto;
  padding: 1em;
  position: relative;
}
.business-logo, .business-offers-counter{
  display: inline-block;
}
.business-offers-counter{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

/*****************BODY*********************/
.business-body{
  text-align: center;
}

.offer-images{
  width: 200px;
}

.cancel-button{
  float: right;
}

.deals-subtitle {
  text-align:center;
  font-weight: 500;
  font-size: 45px;
}

.todays-deals .new-deal{
  width: 250px;
  height: 250px;
  background-color: lightgrey;
}
.todays-deals .new-deal span{
  margin: 60px auto;
  display: block;
  text-align:center;
  font-size: 100px;
}
.todays-deals .new-deal span a{
  color: #FFFFFF;
  text-decoration: none;
}
.todays-deals .new-deal span a:hover{
  text-shadow: 2px 6px 3px #000000;
}

.make_an_offer_modal{
  display: none;
}

.deal.new-deal {
  width:330px;
  height: 300px;
  text-align: center;
  padding-top: 25px;
}
