@import 'app';

/**********************HEADER*********************/
/****************  _header.html.erb  ****************/
.customer{
  margin-bottom: 2.5em;
}
.customer, .customer a{
  color: $dark_blue;
}
.customer h1{
  font-family: $oswald;
  padding: 15px 30px;
  /*border: 1px solid $dark_blue;*/
}
.customer .logo, .customer .customer-links, li{
  display: inline-block;
}
.customer-links{
  padding: 45px;
}
.customer-links li{
  margin-right: 15px;
}
.logout-button{
  background: none;
}
.rotate:hover, .rotate:hover{
  transition: 0.9s;
  transform: rotateZ(360deg);
  color: $blue_green;
}

/**********************CONTAINER*********************/
.customer-container{
  text-align: center;
  font-family: $open_sans;
}
.customer-container h3.find-deal{
  font-size: 2em;
}

        /********REQUEST BAR***********/
.request-bar{
  margin: 40px 0;
  padding: 2em;
  background: white;
}
.request-bar select{
  padding: 10px;
  border: none;
  margin-top: 10px;
}
.request-bar option{
}
.create-customer-deal{
  background: $blue_green;
  border: none;
  color: white;
  padding: 15px;
}

/**************ACCEPTED DEALS*****************/
/**************MASS DEALS*****************/
.accepted-deals, .mass-deals{
  margin: 5em 0;
}



.success {
  position: absolute;
  display: none;
  background-color: green;
  color: white;
  min-height: 20px;
  width: 100%;
  text-align: center;
}


