@import 'app';


/**********************HEADER*********************/
/****************  _header.html.erb  ****************/
.customer, .customer a{
  color: $dark_blue;
}
.customer h1{
  font-family: $oswald;
  padding: 15px 30px;
  /*border: 1px solid $dark_blue;*/
}
.customer .logo, .customer .customer-links, li{
  display: inline-block;
}
.customer-links{
  padding: 45px;
}
.customer-links li{
  margin-right: 15px;
}
.logout-button{
  background: none;
}

/**********************HEADER*********************/
.success {
  position: absolute;
  display: none;
  background-color: green;
  color: white;
  min-height: 20px;
  width: 100%;
  text-align: center;
}


