@import 'app';

.wrapper {
  width: 100%;
  height: 75%;
  bottom: 0%;
  padding: 1%;
  margin: auto;
  border: solid red 1px;
  text-align: horizontal;
}
/**************DEALS ON CUSTOMER SIDE********************/
/*.deal-tile {
  border: 2px solid red;
  display: inline-block;
  min-height: 14em;
  margin: 10px 10px;
  font-family: $open_sans_condensed;
  box-shadow: 4px 4px 7px #888;
  vertical-align: top;
}*/

.deal-tile h3 {
  text-decoration: underline;
  font-style: italic;
  padding-bottom: 10px;
  font-family: $open_sans;
}

.image-overlay {
  position: absolute;
  margin-top: 230px;
  background: rgba(0,0,0,0.6);
  height: 70px;
  color: white;
  width: 330px;
  text-align: left;
  padding-left: 10px;
  padding-top: 5px;
  font-family: $open_sans;
  font-size: 1.2em;
}

.image-overlay a{
  color: $blue_green;
  font-style: italic;
  font-size: .8em;
}

.deal-image, {
  max-width: 11.5em;
}

.todays-deals {
  margin: auto;
  margin-bottom: 6em;
  margin-top: 5em;
}

.todays-deals li, .deal-templates li{
  width: 330px;
  display: inline-block;
  margin: 10px;
  vertical-align: top;
  position: relative;
}

.tile-image {
  width:330px;
  height: 300px;
}

.pending-deals {
  background: $dark_blue_rgba;
  color: white;
  position: absolute;
  top: 2.5em;
  display: none;
}

hr {
  margin: 0;
}

.deal-line {
  padding: 10px;
}

/**********************************************************************/
.accepted-deals-wrapper {
  background-color: $blue_green;
  font-family: $oswald;
  color: white;
  padding-bottom: 50px;
  width: 100%;
}
.accepted-deals-wrapper h1{
  margin-top: 0;
  padding: 30px;
}
.accepted-deals{
  margin: auto;
  color: $grey;
}
.accepted-deal{
  display: inline-block;
  background-color: white;
  padding: 10px 15px;
  margin: 10px;
}
.accepted-deal-image, .accepted-deal-info{
  display: inline-block;
}
.accepted-deal-info{
  vertical-align: top;
  padding-left: 10px;
}
.accepted-deal-image {
  text-align: center;
  position: relative;
}
.accepted-deal-image h3{
  margin-top: 10px;
  font-size: 3em;
  color: lightgrey;
}
.deal-business {
  font-size: 1.3em;
  font-family: $oswald;
}
.deal-address{
  font-size: 1em;
  font-family: $open_sans_condensed;
}
.deal-title {
  font-size: 1em;
  padding-top: 15px;
}
.deal-description {
  font-family: $open_sans_condensed;
  vertical-align: top;
}

/**************MEDIA QUERIES********************/
@media (max-width: 480px){

}

/**************DEALS ON BUSINESS SIDE********************/
.deal-request{
  color: $light_green;
}
.deal span{
  padding-right: 20px;
}
.make_an_offer_link{
  color: $dark_blue;
  font-weight: bold;
  position: relative;
  top: .4em;
}


.mass-deals{
  margin: 6em 0
}

.empty {
  border: 2px solid gray;
  text-align: center;
}
.deal-templates .edit-buttons{
  width: 100%;
  position: absolute;
}
.deal-templates .edit-buttons a{
  position: relative;
  margin: 0.1em 0.1em;
  float: right;
  font-size: 1.2em;
  background-color:rgba(255,255,255,0.8);
  padding: 5px;
  border-radius: 1em;
}
.deal-templates .deal-reservation-time{
  margin-top: 5px;
  font-weight: 400;
  font-size: 0.8em;
  color: $blue-green;
}
.create_mass_deal_form, .make_an_offer_modal{
  margin: 0 auto;
}
.create-modal .subtitle, .edit-modal .subtitle, .make_an_offer_modal .subtitle{
  font-family: $oswald;
  font-size: 3em;
  margin-bottom: 1em;
}
.create_mass_deal_form button{
  margin-top: 20px;
  padding: 5px 10px;
}
.offer-button{
  margin-top: 20px;
}
#make-offer{
  font-size: 1.2em;
}
.edit-modal .edit-form{
  margin: 0;
}
.make_an_offer_modal .deal-title span input{
  margin-right: 10px;
  margin-top: -2px;
}
.make_an_offer_modal .deal-description{
  margin: 10px 0 20px 0;
}