@import 'app';

.wrapper {
  width: 100%;
  height: 75%;
  bottom: 0%;
  padding: 1%;
  margin: auto;
  border: solid red 1px;
  text-align: horizontal;
}
/**************DEALS ON CUSTOMER SIDE********************/
.deal-tile {
  border: 2px solid white;
  display: inline-block;
  min-height: 14em;
  margin: 10px 10px;
  padding: 10px;
  font-family: $open_sans_condensed;
  box-shadow: 4px 4px 7px #888;
  vertical-align: top;
}
.deal-tile h3{
  text-decoration: underline;
  font-style: italic;
  padding-bottom: 10px;
  font-family: $open_sans;
}
.deal-image{
  max-width: 11.5em;
}
.pending-deals{
  background: $dark_blue_rgba;
  color: white;
  position: absolute;
  top: 5em;
  display: none;
}
hr{
  margin: 0;
}
.deal-line{
  padding: 10px;
}
/**************DEALS ON BUSINESS SIDE********************/
.deal-request{
  color: $light_green;
  margin-bottom: 10px;
}
.deal span{
  padding-right: 20px;
}
.make_an_offer_link{
  color: $dark_blue;
  padding: 5px;
  margin-top: 20px;
  margin: auto;
  font-weight: bold;
}
.requests, .mass-deals{
  margin-top: 6em;
}








.empty {
  border: 2px solid gray;
  text-align: center;
}
