@import 'app';
/*************** HEADER ********************/

.head{
  background: $grey;
  background: $grey;
  border-bottom: 1px solid #C7C7C7;
  min-height: 100px;
  color: $blue_green;
}

.head, .head a{
  color: $blue_green;
}

.header-logo {
  width: 120px;
}

.rooster {
  padding: 20px 15px 10px 50px;
  display: block;
}

.head .logo, .head .head-links, li{
  display: inline-block;
}
.head-links{
  position: absolute;
  top: 65px ;
  right: 0;
}
.head-links li{
  margin-right: 15px;
}
.pending-deals:hover{
  text-decoration: underline;
}
.logout-button{
  background: none;
}
.rotate:hover{
  transition: 0.4s;
  transform: rotateZ(360deg);
  color: white;
}


/*************** CUSTOMER HEADER ********************/


/*************** BUSINESS HEADER ********************/
