@import "app";

/***************** HEADER **************************/
.home header{
  background: url('girl.jpg') no-repeat ;
  background-size: cover;
  min-height: 800px;
  position: relative;
  color: white;
  text-align: center;
}
.overlay{
  background: rgba(0,0,0,0.6);
  position: absolute;
  z-index: 5;
  min-height: 800px;
  color: white;
}
.overlay h1{
  font-family: $oswald;
  font-size: 6em;
}
.header-container{
  margin-left: 100px;
  margin-top: 100px;
}
.home-buttons{
  text-align: center;

}
.home-buttons button{
  padding: .9em;
  font-size: 1.2em;
  font-family: $open_sans;
  background: $blue_green;
  margin-bottom: 10px;
}


/***************** ABOUT **************************/
.home-element, .about{
  margin-bottom: 6em;
}
.about{
  text-align: center;
}
.about-container{
  margin: auto;
  text-align: left;
  font-family: $open_sans;
  font-size: 1.3em;
  line-height: 1.4;
  padding: 2em;
}
.about h2{
  font-family: $open_sans;
  font-size: 2.5em;
}
/***************** FOOTER **************************/
/************* _footer.html.erb ********************/

footer{
  background: $grey;
  padding: 3em;
  text-align: center;
  clear: both;
}
.social li{
  display: inline-block;
}
.social i{
  margin-left: 10px;
  color: $blue_green;
  border: 1px solid $blue_green;
  border-radius: 50%;
  padding: 20px;
}
.business-page-link{
  font-family: $open_sans;
  color: white;
  position: relative;
  bottom: 40px;
  float: right;
}
.business-page-link:hover{
  text-decoration: underline;
}
